<div class="card-image-container">
  <img src="{{contact.avatar}}" class="card-img-top" data-src="{{contact.avatar}}" alt="Card image cap">
</div>
<div class="card-block">
  <h4 class="card-title">{{contact.fullName}}</h4>
  <p class="card-text">{{contact.role}}</p>
  <p class="card-text"> <strong>phone:</strong> {{contact.phone}}</p>
  <p class="card-text"><strong>email:</strong> <a href="mailTo={{contact.email}}" class="card-link">{{contact.email}}</a> </p>
</div>
