{{link-to 'back to contact' 'contacts.contact' class='pull-right'}}
{{#if errorArray}}
  <div class="alert alert-danger">
    <ul>
      {{#each errorArray as |error| }}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}
<form>
  <div class="form-group">
    <label>First Name: </label>{{input class="form-control" value=changeset.firstName}}
  </div>
  <div class="form-group">
    <label>Last Name: </label>{{input class="form-control" value=changeset.lastName}}
  </div>
  <div class="form-group">
    <label>Email: </label>{{input class="form-control" value=changeset.email}}
  </div>
  <div class="form-group">
    <label>Phone: </label>{{input class="form-control" value=changeset.phone}}
  </div>
  <div class="form-group">
    <label>Title: </label>{{input class="form-control" value=changeset.title}}
  </div>

  <button class="btn btn-primary" {{action submit changeset}}>Submit</button>
  <button class="btn btn-primary" {{action rollback changeset}}>Rollback</button>
</form>
