<div class='col-md-3'>
  <div class="list-group">
    {{#each model as |contact|}}
      {{#link-to 'contacts.contact' contact class="list-group-item"}}{{contact.fullName}}{{/link-to}}
    {{/each}}
  </div>
  <div class='pagination-links'>
    <div class="btn-group">
      <button class='btn btn-primary' {{action 'paginate' 1}}>&lt;&lt;</button>
      <button class='btn btn-primary' {{action 'paginate' previousPage}}>&lt;</button>
    </div>
    {{page}} of {{model.meta.total}}
    <div class="btn-group">
      <button class='btn btn-primary' {{action 'paginate' nextPage}}>&gt;</button>
      <button class='btn btn-primary' {{action 'paginate' model.meta.total}}>&gt;&gt;</button>
    </div>
  </div>
</div>
</div>
<div class='col-md-9'>
  {{outlet}}
</div>
