<div class='col-md-3'>
  <div class="list-group">
    {{#each model as |contact|}}
      {{#link-to 'contacts.contact' contact class="list-group-item"}}{{contact.fullName}}{{/link-to}}
    {{/each}}
    <div class='list-group-item pagination-links'>
      <a href="#" {{action 'paginate' 1}}>&lt;&lt;</a>
      <a href="#" {{action 'paginate' previousPage}}>&lt;</a>
      {{page}} of {{model.meta.total}}
      <a href="#" {{action 'paginate' nextPage}}>&gt;</a>
      <a href="#" {{action 'paginate' model.meta.total}}>&gt;&gt;</a>
    </div>
  </div>
</div>
<div class='col-md-9'>
  {{outlet}}
</div>
